<p id="notice"><%= notice %></p>
<h2 class="todo_list_title"><%= @task.title %></h2>
<p class="task"><%= @task.description %></p>

<div id="todo_items_wrapper">
	<%= render @task.todo_task %>
	<div id="form">
		<%= render 'todo_tasks/form'%>
	</div>
</div>


<div class="links">
	<%= link_to 'Editar', edit_task_path(@task) if logged_in?(:site_admin) %> |
	<%= link_to 'Eliminar', task_path(@task), method: :delete, data: {confirm: 'Estas seguro de eliminarlo?'} if logged_in?(:site_admin) %> |
	<%= link_to 'Atras', tasks_path %>
</div>

