<div class="container index_row">
  <ul class="nav navbar-nav">
    <%= link_to "Letux", home_path, class:'navbar-brand'%>
    <li><%= link_to "Avisos", notices_path %></li>
    <li><%= link_to "Materias", tasks_path%></li>
    <li><%= link_to "Grupo", group_path %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to "Editar Contraseña", edit_user_registration_path %></li>
      <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Iniciar Sesion", new_user_session_path %></li>
      <li><%= link_to "Crear Cuenta", new_user_registration_path%></li>
    <% end %>
  </ul>
</div>
